@model IEnumerable<ISCrew.Models.VolunteerInfo>
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport"content="width=device-width" />
</head>
<body>
    <h2>Volunteer List</h2>
    <p>to be updated</p>
    <a asp-action="Index">Go back home</a>
</body>
</html>